.App {
  font-family: sans-serif;
  text-align: center;
}

.controls {
  margin: 20px;
}

.file-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.folder {
  margin: 10px 0;
}

.folder-header {
  cursor: pointer;
  font-weight: bold;
}

.file {
  margin-left: 20px;
}
body {
  font-family: Arial, sans-serif;
}

thead th {
  cursor: pointer;
}

thead th:hover {
  text-decoration: underline;
}

.table {
  margin-top: 20px;
}

button {
  margin-bottom: 10px;
}
.card {
  cursor: pointer;
}

.ml-3 {
  margin-left: 1rem;
}
